[submodule "second-module"]
	path = second-module
	url = https://github.com/michaelrae0/second-module.git
[submodule "third-module"]
	path = third-module
	url = https://github.com/michaelrae0/third-module.git
